body {
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.header {
    background: #680b16;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 25px;
}

.navbar-custom {
    background: #efd9d9;
    color: rgb(13, 12, 12);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 25px;
}

.navbar-custom a {
    color: rgb(19, 18, 18);
    text-decoration: none;
    margin-left: 15px;
}
.container{
    padding: 100px;
    border: 2px solid black;
    background: #f1c6c6;
        font-size: 25px;
}
.logo{
    
    justify-content: space-between;
}